:root{
    --color-1: #758494;
    --color-2: #49231c;
    --color-3: white;
    --color-4: #f15d68;
    --color-5: #7a0811;
}
body{
    background-image:url(img/fondo3.jpeg);
}

section{
    background-color: var(--color-3);
    border: 2px var(--color-5) solid;
    border-radius: 10px;
    padding: 30px 0px 50px 0px;
}
article{
     display: flex;
    justify-content: start;
    margin: 0px 20px;
}
.article1{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
 color: var(--color-5);
 text-align: center;
}

.campo{
    border: solid var(--color-2) 2px;
    border-radius: 10px;
    width: 130px;
    height: 20px;
    margin: 7px 0px;
    font-size: 15px;
}
.Button{
    border: solid var(--color-2) 2px;
    border-radius: 25px;
    width: 80px;
    height: 28px;
    margin: 7px 0px 0px 0px ;
    color: var(--color-2);
}